body {
	font-family: 'Open Sans', 'Arial', sans-serif;
		background-color: #ffffff;
		color: #141F45;
		line-height: 1.5;
		font-weight: 300;
}
	.container {
		max-width: 90%;
		margin: 0 auto;
	}

/** só o header **/


	header {
		height: 97x;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: white;
    box-shadow: 0 0 12px #edebe9;
	}

	header img {
		padding: 20px 0;
	}

	@media screen and (max-width: 800px)
header nav ul {
    display: none;
	}

	ol, ul {
		list-style: none;
	}

	header .container  {
		margin-top: 31px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	  align-content: center;
		align-items: center;

	}

	header nav > ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	}

	header nav > ul li {
	position: relative;
}

@media screen and (max-width: 800px) {
	header nav > ul {
		display: none;
	}
}

	header nav ul li a {
		color: #141F45;
		text-decoration: none;
		font-size: 16px;
		margin-left: 35px;
		padding: 22px 8px;
	}

	header nav ul li a:hover {
		color: #999;


	}

	header nav ul li a.active {
		border-bottom: 3px solid #EED33E;

	}


/** submenu **/

.menu ul.submenu {
	display: none;
	position: absolute;
	left: 0;
	list-style: none;
	padding: 0;
	background-color: #fff;

}

.menu ul.submenu li {
	width:150px;
	float: left;
}

.menu ul.submenu a {
	display: block;
	line-height: 48px;
	margin-left: 0;
	padding: 0 16px;
	text-decoration: none;
}

.menu ul.submenu a:hover {
	background-color: #f8f8f8;
}

/** fim do submenu **/

/** fim do header **/

/** seção id cardapio **/

#cardapio {
	background-color: #f8f8f8;
	margin-top: 100px;
	padding-top: 100px;
	padding-bottom: 150px;
}

#cardapio .cardapio-menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: space-between;
	align-items: center;
}

#cardapio .container h2 {
	font-size: 40px;
	margin-right: 5px;
}

#cardapio .container h3 {
	font-size: 19px;
	margin-bottom: 20px;
	margin-top: 20px;
}
#cardapio .linha-amarela {
	border-bottom: 3px solid #EED33E;
	width: 100px;
	height: 24px;
	margin-bottom: 24px;
}

#cardapio .container p {
	font-size: 16px;
		margin-top: 5px;
    margin-bottom: 30px;
    font-weight: 400;
		color: #A3A3A3;
}

table {
    border-collapse: collapse;
    width: 100%;
		background-color: #fff;
}

th, td {
    padding: 8px 0;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
	font-size: 17px;
	font-weight: 600;
	color: #A3A3A3;
}

tr:hover{background-color:#f6fcb7}

#cardapio .cardapio-imagens {
	margin: 48px 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	flex-wrap: wrap;
	width: 100%;

}

#cardapio .cardapio-imagens figure {
	position: relative;
    top: 0;
    left: 0;
    max-width: 548px;
    min-width: 300px;
    width: 33.3%;
    opacity: 0.8;
    transition: all .5s linear;
}

#cardapio .cardapio-imagens figure:hover {
	opacity: 1;
}

#cardapio .cardapio-imagens img {
	width: 100%;
}

#cardapio .cardapio-imagens figcaption {
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 16px;
    color: #A3A3A3;
    padding-left: 16px;
    line-height: 48px;
    text-align: center;
    background-color: #FFFFFF;
}

#cardapio .cardapio-imagens

/** fim do id empreender **/

/** início do footer **/

footer {

	align-items: flex-start;

	}

#rodape .subrodape {
		background-color: #F0DB48;
		width: 100%;
}

footer .footer {
	align-content: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 90%;
	margin: 0 auto;

}

footer .negrito {
	font-weight: 700;
}

footer .rodape-endereco {
	width: 48%;
	margin-right: 2%;
}

footer .rodape-funcionamento {
	width: 48%;
	margin-left: 2%;
	margin-right: 2%;
}

footer p {
	font-size: 14px;
	line-height: 1.5;
}

footer .social  {
	width: 30%;
	margin-left: 2%;
	align-items: baseline;
	/*align-content: ;*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer .social img {
	width: 60%;

 /**fim do footer **/